.downlod-section {
    background-color: #EEF2FF;
    padding: 40px 20px;
}

.download-app-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1450px;
    margin: 0 auto;
}

.content {
    flex: 1;
    padding-right: 20px;
}

.content h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #333;
}

.content p {
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    border: 1px solid #4F46E5;
    cursor: pointer;
    font-size: 1em;
}

.learn-more {
    background-color: transparent;
    color: #007bff;
    border: 1px solid #4F46E5;
}

.get-started {
    background-color: #4F46E5;
    color: white;
}

.image {
    flex: 1;
    text-align: end;
}

.image img {
    width: 500px;
    height: auto;
    max-width: 100%;

}


@media (max-width: 768px) {
    .download-app-section {
        flex-direction: column;

        text-align: center;

    }

    .image {
        order: -1;

        margin-bottom: 20px;

        text-align: center;

    }

    .content {
        padding-right: 0;

        margin-bottom: 30px;

    }

    .buttons {
        justify-content: center;

    }
}