.Testimonials {
    background-color: #F8FAFC;
    margin-top: 40px;
    margin-bottom: 40px;
}

.features {
    padding-top: 30px;
    text-align: center;
}

.card-container {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, auto));
    gap: 20px;
    padding: 20px;
    align-items: start;
    margin-top: 30px;
    padding-bottom: 50px;
}

.card-testomonial {
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    border: 1px solid #E0E7FF;
}


*/ .card-1 {
    margin-top: 0px;
}

.rating i {
    color: gold;
    margin-right: 5px;
}

.testimonial-text {
    color: #555;
    margin-top: 10px;
    line-height: 1.6;
    flex-grow: 1;
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-details {
    font-size: 0.9em;
}

.user-name {
    font-weight: bold;
    color: #333;
}

.user-designation {
    color: #777;
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
        padding: 0%;
        margin: 0%;
    }

    .card-1 {
        margin-top: 0;
    }
}